* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#i1kj {
	min-height: 492px;
}

#ipsi {
	height: 3px;
	margin: 10px 10px 10px 10px;
	background-color: rgba(0, 0, 0, 0.05);
}

#iezsv {
	display: none;
}

#i6i3f {
	display: none;
}